.space {
  visibility: hidden;
  margin-bottom: 0;
}
.lyrics-content-container {
  padding: 20px 0;
}
.current-line {
  background-color: #76abbd;
  color: #fff;
  border-radius: 4px;
}

.original-text-container {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-left: auto;
  p {
    padding: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    &:first-child {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }
}
.translation-text-container {
  background-color: #eee;
  border-radius: 4px;
  margin-right: 20px;
  padding: 10px;
  margin-left: auto;
  p {
    padding: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    &:first-child {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff;
    }
  }
}
 .album-cover-container {
  margin: 20px;
 }
 .extra-info-container {
  padding: 0 20px;
  p {
    color: #999;
  }
 }
.content-page-navigation {
  color: #76abbd;
  text-decoration: none;
  margin-left: 20px;
}

 .album-cover-container {
    position: relative;

    span {
      img {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        transition: .3s all;
        width: 100%;
      }
    }
    .overlay {
      text-align: center;
      transition: .3s all;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(173, 205, 215, 0.3);
      color: #fff;
      opacity: 0;
      .vertical-align {
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: relative;
      span {
        cursor: pointer;
        display: inline-block;
        color: #fff;
        font-size: 35px;
        border: 1px solid #fff;
        padding: 8px 21px;
        border-radius: 50px;
      }
      a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-top: 20px;
      }
    }
    }
    &:hover {
      .overlay {
        opacity: 1;
      }
      img {
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }
    }
    &.active-song {
      .overlay {
        opacity: 1;
      }
      img {
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }
    }
   }
@media (min-width: 992px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
@media screen and (max-width: 991px) {
  .container-song-information {
    display: flex;
  }
  .extra-info-container {
    align-self: flex-end;
  }
  .translation-text-container {
    margin-left: 20px;
    padding: 0 10px 10px 10px;
        p {
      &:first-child {
        padding-top: 10px;
      }
    }
  }
  .original-text-container {
    margin: 0 20px 20px 20px;
    padding: 0 10px 10px 10px;
    p {
      &:first-child {
        padding-top: 10px;
      }
    }
  }
  .accordion-btn {
    text-align: left;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 10px;
    border-radius: 4px;
    border-color: #eee;
      &:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid #eee;
      }
                  &:after {
            content: '\f077';
            font-family: FontAwesome;
            font-size: 10px;
            margin-left: 5px;
          }
        &.collapsed {
            &:after {
            content: '\f078';
            font-family: FontAwesome;
            font-size: 10px;
            margin-left: 5px;
          }
    }
}
}
@media screen and (max-width: 575px) {
  .content-page-navigation {
    margin-left: 0;
  }
    .container-song-information {
    display: block;
    .album-cover-container {
      margin: 20px 0;
    }
  }
}
