.audo-player {
  position: fixed;
  width: 100%;
  bottom:0;
  padding: 10px;
-webkit-box-shadow: 0px -5px 14px -3px rgba(189,189,189,1);
-moz-box-shadow: 0px -5px 14px -3px rgba(189,189,189,1);
box-shadow: 0px -5px 14px -3px rgba(189,189,189,1);
.controls {
  ul {
    display: flex;
    padding:0;
    margin:0;
    justify-content: space-around;
    li {
      list-style-type: none;
      width: 50px;
      a {
color: #76abbd;
    font-size: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 13px 0px;
    border-radius: 50px;
    transition: all .2s;
        &:hover {
          border: 1px solid #76abbd;
          background-color: #eee;
        }
      }
    }
    .play-pause {
    }
  }
}
 .album-cover-container {

  img {
    height: 60px;
    width: 60px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
 }
 .track-progress-container {

  h6 {
    margin:0 0 0 20px;
    span {

      color: #999;
    }

  }
  input {
      width: 100%;
      margin: 5px 0;
    }
   .track-timer {
      margin-left: 20px;
      color: #999;
      font-size:12px;
 }
 }
.volume-container {
  .volume-group {
      justify-content: flex-end;
  }
}
}

.audio-controls-group {
    display: flex;
  }
.fa-volume-off {
  color: red;
}



input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #dcd9d9;
  border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
  border: 2px solid #76abbd;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {

}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #dcd9d9;
  border-radius: 4px;
}

input[type=range]::-moz-range-thumb {
  border: 2px solid #76abbd;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-focus-outer {
    border: 0;
    }
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}