<div class="audo-player">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-2 col-xs-12 controls align-self-center">
        <ul>
          <li class="backward"><a href="javascript:void(0)"><i class="fa fa-backward"></i></a></li>
          <li class="play-pause"><a href="javascript:void(0)" (click)="togglePlay()"><i [className]="audio.paused ? 'fa fa-play' : 'fa fa-pause'"></i></a></li>
          <li class="forward"><a href="javascript:void(0)"><i class="fa fa fa-forward"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-1 col-xs-12  album-cover-container align-self-center">
        <img src="./assets/music/album-cover/portogal-feel_i_still.jpg">
      </div>
      <div class="col-lg-6 col-xs-12  track-progress-container align-self-center">
        <div class="audio-controls-group">
          <div class="col-lg-11">
            <h6 *ngIf="audio.duration">Portugal - <span>Feel it still</span></h6>
            <div class="progress-container" >
              <div class="progress"[style.width.%]="audio.currentTime / audio.duration * 100"></div>
              <input type="range" min="0" [value]="audio.currentTime" [max]="audio.duration" step="1" #time (input)="skipTime(time.value)">
            </div>
            <span class="track-timer" *ngIf="audio.duration">{{elapsed}} / {{duration}}</span>
          </div>
          <div class="controls align-self-center">
            <ul>
              <li class=""><a [href]="currentSongUrl" download><i class="fa fa-cloud-download"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12  volume-container align-self-center">
        <div class="audio-controls-group volume-group">
          <div class="controls col-lg-1 align-self-center">
            <ul>
              <li><a href="javascript:void(0)" (click)="mute()"><i class="fa fa-volume-up"  [className]="audio.volume > 0 ? 'fa fa-volume-up' : 'fa fa-volume-off'" ></i></a></li>
            </ul>
          </div>
          <div class="col-lg-7 col-xs-12 volume align-self-center">
            <div class="progress-container" >
              <div class="progress"[style.width.%]="audio.volume * 100"></div>
              <input id="volume" type="range" min="0" [value]="audio.volume" max="1" step="0.01" #volume (input)="setVolume(volume.value)" >
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
