<div class="container-fluid tile-content-container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-2" *ngFor=" let song of sortResult; let i = index;">
        <div class="album-cover-container" [class.active-song]="currentPlayingSong(i)">
          <span ><img [src]=song.albumCover alt=""></span>
          <div class="overlay">
            <span (click)=playerStart(i)><i [className]="currentPlayingSong(i) ? 'fa fa-pause' : 'fa fa-play'"></i></span>
          </div>
        </div>
        <div class="song-title">
          <h5>{{song.title}}</h5>
          <p>{{song.singer}}</p>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="!sortResult.length">Ничего нет</h1>
</div>
