<router-outlet></router-outlet>
<div class="container-fluid tile-content-container" [ngStyle]="{'margin-bottom.px': marginForContentView}" *ngIf="route.children.length === 0 && loaded">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-6" *ngFor=" let song of itemsOnPageArray">
        <div class="album-cover-container" [class.active-song]="song.url == currentSong">
          <span ><img [src]="song.albumCover" alt="{{song.title}}"></span>
          <div class="overlay">
            <div class="vertical-align">
            <span (click)=playerStart(song.url)><i [ngClass]="song.url == currentSong && isPlaying ? 'fa fa-pause' : 'fa fa-play'"></i></span>
            <a [routerLink]="['lyrics', song.url]" *ngIf="song.lyrics">перевод песни</a>
          </div>
          </div>
        </div>
        <div class="song-title">
          <h5>{{song.title}}</h5>
          <p>{{song.singer}}</p>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="!sortResult.length">Ничего нет</h1>
  <div class="container-fluid pagination-container" *ngIf="pagesArray.length > 1">
  <ul class="pagination pagination-sm">
     <!-- <li class="page-item">
        <a [routerLink]="['.']" 
           [queryParams]="{ page:1 }" 
           queryParamsHandling="merge" 
           [class.disabled]="currentPage == 1" 
           class="page-link">
           <i class="fa fa-angle-double-left" aria-hidden="true"></i>
         </a>
       </li>-->
      <li class="page-item">
        <a [routerLink]="['.']" 
           [queryParams]="{ page: currentPage - 1 }" 
           queryParamsHandling="merge" 
           class="page-link" 
           [class.disabled]="currentPage == 1">
           <i class="fa fa-chevron-left" aria-hidden="true"></i>
         </a>
       </li>
      <li class="page-item first-page" [class.hide] ="pagingsList.includes(1)">
        <a [routerLink]="['.']" 
           [queryParams]="{ page: 1 }" 
           queryParamsHandling="merge" 
           class="page-link" 
           [class.active-link] = "i == currentPage-1" 
           (click)="pageContentGenaretor()">1
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pagesArray; let i = index">
        <a [routerLink]="['.']" 
           [queryParams]="{ page: page }" 
           queryParamsHandling="merge" 
           class="page-link" 
           [class.active-link] = "i == currentPage-1" 
           (click)="pageContentGenaretor()" [hidden] ="!pagingsList.includes(i+1)">{{page}}
        </a>
      </li>
      <li class="page-item last-page" [class.hide] ="pagingsList.includes(pagesArray.length)">
        <a [routerLink]="['.']" 
           [queryParams]="{ page: pagesArray.length }" 
           queryParamsHandling="merge" 
           class="page-link" 
           [class.active-link] = "i == currentPage-1" 
           (click)="pageContentGenaretor()">{{pagesArray.length}}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" 
           [class.disabled]="currentPage == pagesArray.length" 
           [routerLink]="['.']" 
           [queryParams]="{ page: currentPage + 1 }" 
           queryParamsHandling="merge">
           <i class="fa fa-chevron-right" aria-hidden="true"></i>
         </a>
       </li>
     <!-- <li class="page-item">
        <a [routerLink]="['.']" 
           [queryParams]="{ page: pagesArray.length }" 
           queryParamsHandling="merge" class="page-link" 
           [class.disabled]="currentPage == pagesArray.length">
           <i class="fa fa-angle-double-right" aria-hidden="true"></i>
         </a>
       </li> -->
  </ul>
</div>
</div>