<div class = "humburger-menu" (click)="showNavigation = !showNavigation">
 <div id="nav-icon3" [class.open]="showNavigation">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
</div>
<div class="navigation-container" [class.show-mobile-navigaton]="showNavigation" [ngStyle]="{'margin-bottom.px': marginForNavigation}">
  <h5>Плейлисты</h5>
  <ul class="playlists-container">
    <li *ngFor="let playList of navigationInfo?.settings?.playlist">
      <a [routerLink]="['songs-tile', playList.route]"  
         [class.active-playlist]="playList.route == id"
         [queryParams]="{ page: 1 }"
        (click)="showNavigation = !showNavigation">
       {{playList.name}} 
      </a>
    </li>
  </ul>
  <h5>Фильтры</h5>
  <div class="filters-options-container" 
       *ngFor="let item of navigationInfo?.settings?.filters; let i = index">
    <p class="title">
      <a 
      data-toggle="collapse" 
      href="#{{item.filterName}}" 
      aria-expanded="false" 
      [class.collapsed]="!defaultAciveFiltersList.includes(item.filterName)">
      {{item.filterName}}
      </a>
    </p>
    <ul class="collapse" 
        id="{{item.filterName}}" 
        [class.show]="defaultAciveFiltersList.includes(item.filterName)">
      <li *ngFor="let filter of navigationInfo?.settings?.filters[i].filtersType">
        <a (click)="getFilters(item.filterName,filter)" 
           class="custom-control custom-radio">
          <input type="radio" 
                 name="{{item.filterName}}" 
                 class="custom-control-input" 
                 id="{{filter}}" 
                 [checked]="defaultFilters.includes(filter)">
          <label class="custom-control-label" for="{{filter}}">{{filter}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>
