.humburger-menu {
  display: none;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}
.navigation-container {
  min-height: 100vh;
  overflow-y: auto;
  ul.playlists-container {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 5px;
     a {
      color: #000;
      padding: 5px;
      display: block;
     &.active-playlist{
          background-color: #76abbd;
      border-radius: 4px;
      color: #fff;
      text-decoration: none;
      &:hover{
         background-color: #76abbd;
        }
      }
     &:hover  {
      background-color: #eee;
      border-radius: 4px;
      text-decoration: none;
      }
      }
    }
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0 20px 0;
    margin: 0;
    text-transform: uppercase;
  }
    .filters-options-container {
      .title {
       a{
        color: #000;
        display: block;
        padding: 5px;
            &:after {
            content: '\f077';
            font-family: FontAwesome;
            font-size: 10px;
            margin-left: 5px;
          }
        &.collapsed {
            &:after {
            content: '\f078';
            font-family: FontAwesome;
            font-size: 10px;
            margin-left: 5px;
          }
        }
      &:hover {
        text-decoration: none;
       }
       }
       &:hover {
        background-color: #eee;
        text-decoration: none;
       }
      }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      padding: 5px 10px;
      margin: 15px 0;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
          background-color: #eee;
      }
      .custom-control {
        .custom-control-input {
            &:checked {
          &+label {
            color: #76abbd;
          }
          }
          &:focus {
          outline: none!important; 
          box-shadow: none!important;         
        }
  }

      label {
        font-size: 16px;
        width: 100%;
        color: #666666;
        text-decoration: none;
        cursor: pointer;
      }
    }
    }
  }
}
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background: #76abbd;
  border-radius: 50px;
}

/* humburger icon */

  #nav-icon3 {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #76abbd;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 5px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 16px;
}

#nav-icon3 span:nth-child(4) {
  top: 27px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


@media screen and (max-width: 1200px) {
  .humburger-menu {
    display: block;
    position: fixed;
    z-index: 10;
    top: 18px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    border: 1px solid #eee;
    width: 47px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(148,148,148,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(148,148,148,1);
    box-shadow: 0px 0px 1px 0px rgba(148,148,148,1);
    }
  .navigation-container {
    display: none;
  }
  .show-mobile-navigaton {
    display: block;
    box-shadow: none;
    position: fixed;
    z-index: 9;
    background: #fff;
    height: 100%;
  //  overflow-y: scroll;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    padding: 0 20px;
  }
}

